$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.container{
  @media (min-width: 1200px) {
    width: 1200px;
  }
}

.flexy {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;

  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}


.flexy__box {
  overflow: hidden;
  position: absolute;
  padding: 10px;
  transition: transform 1s ease;
}

.flexy__content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.flexy__text-box {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.flexy__text-box--grey {
  background-color: #f6f6f6;
}

.flexy__header {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #d0d0d0;
}

.flexy__caption-box {
  position: absolute;
  padding: 10px;
  bottom: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.5);
  color: #fff;
}

.flexy__eyebrow {
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;

}

picture > * {
  height: 100%;
  width: 100%;
}