@import 'bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

.flexy {
  position: relative;
  margin: 0 auto;

  picture {
    img {
      height: 100%;
    }
  }
}

.flexy__container {
  position: relative;
  background-color: #fff;
  margin: 0 auto;

  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}

.flexy__box {
  display: none;
  overflow: hidden;
  position: absolute;
  padding: 10px;
  transition: transform 450ms cubic-bezier(0.280, 0.410, 0.035, .950);
}

.flexy__twocolumn__onerow {
}

.flexy__content {
  max-width: 500px;
  height: 100%;
  overflow: hidden;
  position: relative;

  @media (min-width: 600px) {
    max-width: 100%;  
  }

  .flexy__caption-box {
    position: absolute;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.75);
    
  }

  .flexy__caption {
    color: #fff;
    margin: 0;
  }

  .flexy__eyebrow {
    color: #fff;
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
  }
}

.flexy__text-box {
  width: 100%;
  height: 100%;
  padding: 10px;
  max-width: 500px;

  @media (min-width: 600px) {
    max-width: auto;
  }
}

.flexy__text-box--grey {
  background-color: #f6f6f6;
}

.flexy__header {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #d0d0d0;
}

article + article {
  margin-top: 0;
}